{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trnproductoslotes list</h1>

    <table>
        <thead>
            <tr>
                <th>Apiloteid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trnProductoslote in trnProductoslotes %}
            <tr>
                <td><a href="{{ path('trnproductoslote_show', { 'apiLoteid': trnProductoslote.apiLoteid }) }}">{{ trnProductoslote.apiLoteid }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trnproductoslote_show', { 'apiLoteid': trnProductoslote.apiLoteid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trnproductoslote_edit', { 'apiLoteid': trnProductoslote.apiLoteid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trnproductoslote_new') }}">Create a new trnProductoslote</a>
        </li>
    </ul>
{% endblock %}
