<!DOCTYPE html>
<html lang="en"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>:: {% block title_page %}{% endblock %} | Sistema Nacional de Abastecimiento :: SINAB</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/') }}distro/css/bootstrap.css" rel="stylesheet">
        <!-- animation CSS -->
        <link href="{{ asset('assets/') }}distro/css/animate.css" rel="stylesheet">        <!-- Menu CSS -->
        <link href="{{ asset('assets/') }}distro/css/sidebar-nav.css" rel="stylesheet">
        <!-- animation CSS -->
        <link href="{{ asset('assets/') }}distro/css/animate.css" rel="stylesheet">


        <!-- carga dinámica de CSS -->
        {% block header_css %}{% endblock %}
        <!-- Custom CSS -->
        <link href="{{ asset('assets/') }}distro/css/style.css" rel="stylesheet">
        <!-- color CSS -->
        <link href="{{ asset('assets/') }}distro/css/megna-dark.css" id="theme" rel="stylesheet">
        <link href="{{ asset('assets/') }}distro/css/simple-line-icons.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/') }}distro/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/') }}distro/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/') }}distro/themify-icons.css" rel="stylesheet" >

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body class="fix-header">
        <div class="preloader" style="display: none;">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header">
                    {% include 'MinsalPlantillaBundle::Default/head.html.twig' %}
                </div>
                <!-- /.navbar-header -->
                <!-- /.navbar-top-links -->
                <!-- /.navbar-static-side -->
            </nav>
            <!-- End Top Navigation -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav">
                    <div class="sidebar-head">
                        <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navegaci&oacute;n</span></h3>
                    </div>
                    <ul class="nav" id="side-menu">
                        {% include 'MinsalPlantillaBundle::Default/menu.html.twig' %}
                    </ul>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Left Sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page Content -->
            <!-- ============================================================== -->
            <div id="page-wrapper" style="min-height: 617px;">
                <div class="container-fluid">
                    <div class="row bg-title">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title">
                            {% block viewtitle %}{% endblock %}
                        </h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    {% block navigationlink %}{% endblock %}
                    {% include 'MinsalPlantillaBundle::Default/breadcrumb.html.twig' %}
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">

                    {% block body %}{% endblock %}
                    <!--<p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>-->
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.container-fluid text-center-->
        <footer class="footer text-center"> {% include 'MinsalPlantillaBundle::Default/footer.html.twig' %}</footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{{ asset('assets/') }}distro/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/') }}distro/js/bootstrap.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ asset('assets/') }}distro/js/sidebar-nav.js"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('assets/') }}distro/js/jquery_002.js"></script>
<!--Wave Effects -->
<script src="{{ asset('assets/') }}distro/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ asset('assets/') }}distro/js/custom.js"></script>
<script src="{{ asset('assets/') }}distro/js/jasny-bootstrap.js"></script>
<!--Style Switcher -->
<script src="{{ asset('assets/') }}distro/js/jkuery.js"></script>
{% block footer_js %}{% endblock %}

</body></html>
