{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trndistribucion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trnDistribucion.id }}</td>
            </tr>
            <tr>
                <th>Apialmacenid</th>
                <td>{{ trnDistribucion.apiAlmacenid }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ trnDistribucion.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechadistribucion</th>
                <td>{% if trnDistribucion.fechadistribucion %}{{ trnDistribucion.fechadistribucion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacorte</th>
                <td>{% if trnDistribucion.fechacorte %}{{ trnDistribucion.fechacorte|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Mesescpm</th>
                <td>{{ trnDistribucion.mesesCpm }}</td>
            </tr>
            <tr>
                <th>Mesesdistribucion</th>
                <td>{{ trnDistribucion.mesesDistribucion }}</td>
            </tr>
            <tr>
                <th>Mesesadministracion</th>
                <td>{{ trnDistribucion.mesesAdministracion }}</td>
            </tr>
            <tr>
                <th>Mesesseguridad</th>
                <td>{{ trnDistribucion.mesesSeguridad }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if trnDistribucion.fechaCreacion %}{{ trnDistribucion.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if trnDistribucion.fechaModificacion %}{{ trnDistribucion.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trndistribucion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trndistribucion_edit', { 'id': trnDistribucion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
