{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trnproducto</h1>

    <table>
        <tbody>
            <tr>
                <th>Apiproductoid</th>
                <td>{{ trnProducto.apiProductoid }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if trnProducto.fechaModificacion %}{{ trnProducto.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if trnProducto.fechaCreacion %}{{ trnProducto.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trnproductos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trnproductos_edit', { 'apiProductoid': trnProducto.apiProductoid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
