{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trnestablecimientosdistribucions list</h1>

    <table>
        <thead>
            <tr>
                <th>Apiestablecimientoid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trnEstablecimientosdistribucion in trnEstablecimientosdistribucions %}
            <tr>
                <td><a href="{{ path('trnestablecimientosdistribucion_show', { 'apiEstablecimientoid': trnEstablecimientosdistribucion.apiEstablecimientoid }) }}">{{ trnEstablecimientosdistribucion.apiEstablecimientoid }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trnestablecimientosdistribucion_show', { 'apiEstablecimientoid': trnEstablecimientosdistribucion.apiEstablecimientoid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trnestablecimientosdistribucion_edit', { 'apiEstablecimientoid': trnEstablecimientosdistribucion.apiEstablecimientoid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trnestablecimientosdistribucion_new') }}">Create a new trnEstablecimientosdistribucion</a>
        </li>
    </ul>
{% endblock %}
